html {
  background-color: #000;
  font-size: 62.5%;
  font-family: 'National Light';
  letter-spacing: 0.16rem;
}

* {
  /*-webkit-backface-visibility: hidden;*/
  margin: 0px;
  padding: 0px;
  outline: none;
}
button{
  background: hsl(42, 84%, 69%);
  color: #000;
  padding: 12px;
  border: none;
  letter-spacing: 0.16rem;
}
.cta .preorder{


}
.cta-video{
  background: transparent;
  color: hsl(42, 84%, 69%);
  border: 2px solid hsl(42, 84%, 69%); 
}

.video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; 
  display: block;
  }`


section.head-cta {
  background-color: hsl(0,0%,0%);
  overflow: hidden;
}
section.head-cta .overlay {
  background-color: hsla(0,0%,0%,.83);
}
section.head-cta .bg.media {
  /*-webkit-filter: blur(2px);*/
  background-position: center;
}
section.head-cta .bg.overlay {
  background-color: hsla(0,0%,0%,.5);
}
section.head-cta svg.logo {
  fill: hsl(42, 84%, 69%);
}
section.head-cta .cta {
  z-index: 10;
}
section.head-cta .title {
  text-align: center;
  color: #fcfbfd;
  text-transform: uppercase;
}
section.head-cta .sub-title {
  text-align: center;
  color: #fcfbfd;
  text-transform: uppercase;
}
section.head-cta button,
section.head-cta .button {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 28px; 
  font-size: 20px; 
  padding: 24px 34px; 
}
a.button {
  text-decoration: none;
}

section.head-cta button .odometer {
  font-size: 0.8em;
  font-weight: bold;
}

span.cta-hash {
  font-size: 0.8em;
  font-weight: bold;
}

section.head-cta .cta, section.head-cta .play:hover {
  background-color: hsl(42, 84%, 69%);
  border: 2px solid hsl(42, 84%, 69%);
  color: hsl(42, 84%, 8%);
}

section.head-cta .cta:hover, section.head-cta .play {
  background-color: transparent;
  border: 2px solid hsla(42, 84%, 69%, .59);
  color: hsl(42, 84%, 69%);
}

section.head-cta .cta .number {
  display: inline-block;
  white-space: nowrap; /* Keep the pound sign on the same line as the number */
}

section.head-cta .cta,
section.head-cta .play {
  text-align: center;
}
