html {
  background-color: #000;
  font-size: 62.5%;
}

* {
  /*-webkit-backface-visibility: hidden;*/
  margin: 0px;
  padding: 0px;
  outline: none;
}
svg.logo{
  fill: hsl(42, 84%, 69%);
}
button{
  background: hsl(42, 84%, 69%);
  color: #000;
  padding: 12px;
  border: none;
}
.cta .preorder{

}
.cta .video{
  
}