@-webkit-keyframes fade-in{
  0%{
    -webkit-transform: scale(.95);
    opacity: 0;
  }
  100%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
html {
  background-color: #000;
  font-size: 62.5%;
  font-family: 'National Light';
  letter-spacing: 0.16rem;
}

* {
  /*-webkit-backface-visibility: hidden;*/
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

section {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: inset  0  8px 0px -8px #000, 
              inset  0 -8px 8px -8px #000;
}

button{
  background: hsl(42, 84%, 69%);
  color: #000;
  padding: 7px;
  border: none;
  letter-spacing: 0.16rem;
  width: 72px;
  height: 72px;
  transition-property: padding-right; 
  -webkit-transition: .3s ease-out;
}
.cta-container{
  width: 400px;
}
.cta .preorder{


}
.cta-video{
  background: transparent;
  color: hsl(42, 84%, 69%);
  border: 2px solid hsl(42, 84%, 69%); 
}

.video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0; 
  display: block;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 14px solid #fff;
}

.headline{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index:2;
}
section.head-cta {
  background-color: hsl(0,0%,0%);
  overflow: hidden;
  position: fixed !important; 
  -webkit-transition: .3s ease-out !important;
}
section.head-cta .overlay {
  background-color: hsla(0,0%,0%,.83);
}
section.head-cta .bg.media {
  /*-webkit-filter: blur(2px);*/
  background-position: center;
}
section.head-cta .bg.overlay {
  background-color: hsla(0,0%,0%,.5);
}
section.head-cta svg.logo {
  fill: hsl(42, 84%, 69%);
  -webkit-animation: fade-in 2s .5s forwards;
}
section.head-cta .cta {
  z-index: 10;

}
section.head-cta .title {
  text-align: center;
  color: #fcfbfd;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: fade-in 2s 1s forwards;
}
section.head-cta .sub-title {
  text-align: center;
  color: #fcfbfd;
  text-transform: uppercase;
  opacity: 0;
  -webkit-animation: fade-in 2s 1.2s forwards;
}
section.head-cta button,
section.head-cta .button {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 28px; 
  font-size: 20px; 
  padding: 18px 30px; 
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fade-in 2s 1.5s forwards;
}

a.button {
  text-decoration: none;
}

section.head-cta button .odometer {
  font-size: 0.8em;
  font-weight: bold;
}

span.cta-hash {
  font-size: 0.8em;
  font-weight: bold;
}

section.head-cta .cta, section.head-cta .play:hover {
  background-color: hsl(42, 84%, 69%);
  border: 2px solid hsl(42, 84%, 69%);
  color: hsl(42, 84%, 8%);
}

section.head-cta .cta:hover, section.head-cta .play {
  background-color: transparent;
  border: 2px solid hsla(42, 84%, 69%, .89);
  color: hsl(42, 84%, 69%);
  width: 530px !important;
  margin-left: -34px;
}
section.head-cta .cta:hover .cta-arrow{
  right: 0;
}
section.head-cta .cta .cta-arrow{
  position: absolute;
  right: -80px;
  top: 0;
  width: 70px;
  height: 72px;
  padding-left: 4px;
  padding-top: 19px;
  background: hsl(42, 84%, 69%);
  color: #000 !important;
  -webkit-transition: .3s ease-out;
}
section.head-cta .cta .number {
  display: inline-block;
  white-space: nowrap; /* Keep the pound sign on the same line as the number */
}

section.head-cta .cta,
section.head-cta .play {
  text-align: center;
}
/*section 2
*/

section.mobile-video {
  -webkit-transition: top .3s ease-out;
  background: url('../img/hero_cta.jpg') center;
  background-size: cover;
}
section.mobile-video .cta-play{
  font-size: 2rem;
}
a{
  color: #fff;
}

/*section 3
*/
section.hello-world {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  background: hsl(210, 0%, 98%);
  color: #333;
  text-align: center !important;
}
    .content > * {
      text-align: center !important;
      margin-bottom: 1em;
      margin-top: 1em;
      line-height: 1.7em;

    }
    .hello-world-head {
      font-weight: normal;      
      color: hsl(0,0%,25%);
    }

    .hello-world-body {
      font-weight: normal; 
      letter-spacing: .05em;
      color: hsl(0,0%,38%);     
    }





