html {
  background-color: white;
  font-family: 'National Regular';
}

a, p, h1, h2, h3, h4 {
  font-weight: normal;
}

* {
  /*-webkit-backface-visibility: hidden;*/
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

section.top-cta {
}

button.cta {
  border-width: 2px;
  border-color: hsl(42, 84%, 69%);
  color: hsl(42, 84%, 69%);
}
