
html {
  background-color: #000;
  font-size: 62.5%;
  font-family: 'National Light';
  letter-spacing: 0.16rem;
}

* {
  /*-webkit-backface-visibility: hidden;*/
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}

section {
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: inset  0  8px 0px -8px #000, 
              inset  0 -8px 8px -8px #000;
}

button{
  background: hsl(42, 84%, 69%);
  color: #000;
  padding: 7px;
  border: none;
  letter-spacing: 0.16rem;
  width: 72px;
  height: 72px;
  transition-property: padding-right; 
  -webkit-transition: .3s ease-out;
}


/*section 3
*/
section.hello-world {
  position: relative;
  left: 0;
  overflow: hidden;
  width: 100%;
  background: hsl(210, 0%, 98%);
  color: #333;
  text-align: center !important;
}
    .content {
     /* text-align: center !important;*/
      /*margin-bottom: 1em;
      margin-top: 1em;*/
      /*line-height: 1em;*/
      background-color: yellow;
      padding-bottom: 3%;

    }
    .hello-world-head {
      font-weight: normal;      
      /*color: hsl(0,0%,25%);*/
    }
    .hello-world-sub-head {
      letter-spacing: .18em;
    }






